body {
    font-family: 'source sans pro';
    font-size: 1.2em;
    background-color: #0d1117;
    color: rgb(201, 209, 217);
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

a {
    color: rgb(201, 209, 217);
}

a:hover {
    color: #707070;
}

nav.bg-dark {
    --bs-bg-opacity: 0.90;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 10px rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.pullRight {
    text-align: right;
}

.pullLeft {
    text-align: left;
}

.no-padding div {
    padding: 0px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.content {
    padding-top: 85px;
    padding-bottom: 1.5rem;
}

.content blockquote {
    padding-left: 1em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

.blog-entry {
    margin-bottom: 2.5rem;
    box-shadow: 0px 20px 15px black;
}

.attribution a {
    text-decoration: none;
}

.attribution {
    right: 0px;
    text-shadow: 0px 0px 3px black;
    position: absolute;
    font-size: 0.6em;
    text-align: right;
    padding: 0.5em;
}

.hero-card .dark p.card-text a {
    color: rgb(87%, 87%, 87%, 0.5);
}

.social a {
    color: #d63384;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.footer-left, .footer, .nav {
    padding: 1.5rem;
}

.about-me-card {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .footer-left {
        float: right !important;
        padding: 0;
    }
    .footer, .nav  {
        padding: 0;
    }
    .about-me-card {
        float: right !important;
        width: 25rem;
        margin-left: 1.5rem;
    }
}

.mdx-content ul {
    list-style: none;
}

.mdx-content li:before { 
    content:''; 
    background-image:url('../images/code-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 2em; 
}

.mdx-content li  li {
    font-size: 0.9em;
}

.tags a {
    background: rgba(255,255,255,0.1);
    border-radius: 100px;
    padding: 0.4em;
    margin: 0.2em;
    font-size: 0.73em;
    text-decoration: none;
}

deckgo-highlight-code {
    --deckgo-highlight-code-font-size: 0.8em;
    --deckgo-highlight-code-background: rgba(13, 13, 30, 0.1);
    --deckgo-highlight-code-border-radius: 5px;
    --deckgo-highlight-code-zoom: 1;
}