.like-button-container {
    display: inline-block;
    position: relative;
    float: right;
    height: 50px;
    width: 50px;
}

.like-button-container img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.like-button-heart {
    width: 40%;
    filter: invert(30%) sepia(27%) saturate(5749%) hue-rotate(308deg) brightness(89%) contrast(87%);
}

.like-button-spark {
    width: 80%;
    filter: invert(30%) sepia(27%) saturate(5749%) hue-rotate(308deg) brightness(89%) contrast(87%);
}

.like-button-counter {
    text-align: center;
    position: absolute;
    margin: auto;
    font-size: 0.8em;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    color: #d63384;
}